body {
  background: linear-gradient(to right, #f58529, #dd2a7b, #8134af, #515bd4);
  color: #fdffff;
  font-family: Poppins, sans-serif;
    width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 5px 20px;
  background-color: #3897f0;
  color: #262626;
  border-style: none;
}

input {
  height: 20px ;
}